@model  IdentityUserManagement.Application.Dto.EmailTemplateData

Dear <b>@Model.EmailUser.FirstName @Model.EmailUser.LastName</b>,
<br />
Click <a href="@Model.ActionLink">here</a> to confirm your email.
<br />
<br />
If you did not create an account, please ignore this email.